.lista-suspensa {
    display: flex;
    flex-direction: column;
    padding: 14px 36px;
}

.lista-suspensa label {
    padding: 4px 0;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
}

.lista-suspensa select {
    background-color: #fff;
    border: 0;
    height: 80px;
    padding: 0 14px;
    font-size: 16px;
    box-shadow: 0 0 14px 0px #0000002b;
}